{% extends 'layout.twig' %}

{% block body %}
  <a target="myframe" href="http://localhost:8001/">React</a>
  <a target="myframe" href="http://localhost:8002/">Vue</a>
  <iframe name="myframe" src="http://localhost:8002/"></iframe>
{% endblock %}
